html{
    box-sizing:border-box;
    font-size:1em;
  }
*{
    box-sizing: inherit;
 }

body {
    margin: 0px;
}

header {
    display: flex;  
    border-bottom: solid 1px lightgray;
} 

h2 {
    font-size: 1rem;
    display: block;
    padding: 20px 10px 5px 5px;
    text-transform: uppercase;
    border-bottom: solid 1px black;
}

article {
    display: block;
    font-size: .9rem;
    height: 380px;
    background-color: lightgray;
    border:solid 2px black;
    padding: 5px 10px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
}

footer p {
    color: white;
    font-weight: bolder;
    margin: 17px 0px;
    padding-left: 15px;
}

.main-nav {
    display: none;
}

#wrapper {
    padding: 15px;
    max-width: 1024px;
    margin: auto;
}

#covid-menu {
   font-size: 1rem;
}

#covid-menu ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#covid-menu a{
    text-decoration: none;
    text-transform: uppercase;
}

#covid-menu li {
    display: block;
    padding-left: 30px;
    margin-top: 3px;
}

#covid-menu #covid-text {
    margin-top: 12px;
}

#covid-menu #more-button {
    display:block;
    margin-right: 50px;
    border: solid 1px black;
    padding: 7px 12px;
}

#cbc-header {
   display: block;
   font-size: 1.3rem;
   padding-right: 20px;
   padding-left: 15px;
   margin-bottom: 5px;
}

#menu {
   display: block;
   border-left: solid 1px red;
   padding-left: 20px; 
   font-size: 1.3rem;
   text-transform:uppercase;
   margin-top: 18px;
   margin-bottom: 5px;
}

#menu a { 
   text-decoration: none;
}

#welcome-section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#main-article {
    margin-top: 20px;
    height: 500px;
}

#follow {
    background-color: lightgray;
    border: solid 2px black;

}

#follow h2 {
    padding: 10px 15px;
    margin: 0px;
}

#follow p {
    display: block;
    height: 30px;
}

#sub {
    margin: 300px 0px;
    background-color: lightgray;
    border: solid 2px black;
}

#sub p{
    display: block;
    height: 330px;
}

#cbc-news {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#change-local {
    display:flex;
    justify-content: space-between;
}

#change-local h3{
    display:block;
    margin: 0px;
    margin-top: 5px;
}

#change-local p {
    display:block;
    font-size: 1rem;
    padding: 7px;
    border: solid 1px black;
    margin: 0px;
    margin-right: 25px;
}

#my-local article{
    margin-top: 15px;
}

#more-from-cbc article {
    display: block;
    height: 220px;
}

@media (min-width:800px) {
    
    h2 {
        font-size: .8rem;
        border-bottom-width: 1px;
        padding-top: 16px;
        padding-left: 0px;
        margin-top: 0px;
    }
    
    header {
        border-bottom: solid 1px lightgray;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    footer p {
        font-size: .7rem;
        padding: 16px;
        margin: 0px;
    }

    .main-nav {
        display: block;
    }
    .main-nav ul{
        list-style:none;
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    .main-nav a {
        display: block;
        text-decoration: none;
        padding: 13px 16px;
        font-size: .9rem;
        font-weight: bolder;
        color: black;
    }

    #wrapper {
        padding: 15px;
    }

    #covid-menu {
    display: none;
    }

    #cbc-header {
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 5px;
    }

    #menu {
    padding-left: 10px; 
    font-size: 1rem;
    margin-top:14px;
    margin-bottom: 5px;
    }

    

} 