html{
    box-sizing:border-box;
    font-size:1em;
  }
*{
    box-sizing: inherit;
 }

body {
    margin: 0px;
}

header {
    display: flex;  
    border-bottom: solid 1px lightgray;
} 

h2 {
    font-size: 1rem;
    display: block;
    padding: 20px 10px 5px 5px;
    text-transform: uppercase;
    border-bottom: solid 1px black;
}

article {
    display: block;
    font-size: .9rem;
    height: 380px;
    background-color: lightgray;
    border:solid 2px black;
    padding: 5px 10px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
}

footer p {
    color: white;
    font-weight: bolder;
    margin: 17px 0px;
    padding-left: 15px;
}

.main-nav {
    display: none;
}

#wrapper {
    padding: 15px;
    max-width: 1024px;
    margin: auto;
}

#covid-menu {
   font-size: 1rem;
}

#covid-menu ul {
    list-style:none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#covid-menu a{
    text-decoration: none;
    text-transform: uppercase;
}

#covid-menu li {
    display: block;
    padding-left: 10px;
    margin-top: 3px;
}

#covid-menu #covid-text {
    margin-top: 12px;
}

#covid-menu #more-button {
    display:block;
    margin-right: 30px;
    border: solid 1px black;
    padding: 7px 12px;
}

#cbc-header {
   display: block;
   font-size: 1.1rem;
   padding-right: 15px;
   margin-bottom: 5px;
   margin-top: 0px;
}

#menu {
   display: block;
   border-left: solid 1px red;
   padding-left: 15px; 
   font-size: 1.1rem;
   text-transform:uppercase;
   margin-top: 0px;
   margin-bottom: 5px;
}

#menu a { 
   text-decoration: none;
}

#welcome-section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#main-article {
    margin-top: 20px;
    height: 500px;
}

#follow {
    background-color: lightgray;
    border: solid 2px black;

}

#follow h2 {
    padding: 10px 15px;
    margin: 0px;
}

#follow p {
    display: block;
    height: 30px;
}

#subscribe {
    margin: 300px 0px;
    background-color: lightgray;
    border: solid 2px black;
}

#subscribe p {
    display: block;
    height: 300px;
}

#cbc-news {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#change-local {
    display:flex;
    justify-content: space-between;
}

#change-local h3{
    display:block;
    margin: 0px;
    margin-top: 5px;
}

#change-local p {
    display:block;
    font-size: 1rem;
    padding: 7px;
    border: solid 1px black;
    margin: 0px;
    margin-right: 25px;
}

#my-local article{
    margin-top: 15px;
}

#more-from-cbc article {
    display: block;
    height: 220px;
}

@media (min-width:600px) {
    
    h2 {
        font-size: .8rem;
        border-bottom-width: 1px;
        padding-top: 16px;
        padding-left: 0px;
        margin-top: 0px;
    }
    
    header {
        border-bottom: solid 1px lightgray;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    footer p {
        font-size: .7rem;
        padding: 16px;
        margin: 0px;
    }

    .main-nav {
        display: block;
    }
    .main-nav ul{
        list-style:none;
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    .main-nav a {
        display: block;
        text-decoration: none;
        padding: 13px 35px 13px 0px;
        font-size: .9rem;
        font-weight: bolder;
        color: black;
    }

    .news-container {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
        "news-article1 news-article2 news-article3 "
        "news-article4 news-article4 news-article4"
    }

    .news-article1 {
        grid-area: news-article1;
    }
    .news-article2 {
        grid-area: news-article2;
    }
    .news-article3 {
        grid-area: news-article3;
    }
    .news-article4 {
        grid-area: news-article4;
    }

    .news-container article {
        height: 300px;
        margin: 0px;
    }

    #wrapper {
        padding: 15px;
    }

    #covid-menu {
    display: none;
    }

    #cbc-header {
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 0px;
    margin-bottom: 5px;
    }

    #menu {
    padding-left: 10px; 
    font-size: 1rem;
    margin-bottom: 5px;
    }

    #main-article{
        margin-top: 15px;
        height: 300px;
    }

    #welcome-section article {
        margin: 0px;
        height: 280px;
    }

    #welcome-section {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
            "main-article main-article main-article"
            "main-article1 main-article2 main-article3"
            "main-article4 main-article5 main-article6"
            "aside-grid1 aside-grid1 aside-grid1"
            "subscribe subscribe subscribe"
    }

    #main-article {
        grid-area: main-article;
    }

    #main-article1 {
        grid-area: main-article1;
    }
    #main-article2 {
        grid-area: main-article2;
    }
    #main-article3 {
        grid-area: main-article3;
    }
    #main-article4 {
        grid-area: main-article4;
    }
    #main-article5 {
        grid-area: main-article5;
    }
    #main-article6 {
        grid-area: main-article6;
    }
    #aside-grid1 {
        grid-area: aside-grid1;
    }
    #subscribe {
        grid-area: subscribe;
    }

    #follow {
        width: auto;
        height: 100px;
    }
    
    #subscribe {
        margin: 0px;
        margin-top: 300px;
        height: 200px;
        width: auto;
    }
    
    #cbc-news h2 {
        margin-top: 35px;
        margin-bottom: 25px;
    }

    #change-local {
        justify-content:start;
    }

    #change-local p {
        margin-left: 20px;
    }

    #my-local h2 {
        margin-top: 32px;
    }

    #more-articles {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
        "more-article1 more-article2 more-article3"
        "more-article4 more-article5 more-article6"
        "more-article7 more-article8 more-article9"
        "more-article10 more-article11 more-article12"
        "more-article13 more-article14 more-article15"
        "more-article16 more-article16 more-article16"
    }

    #more-article1 {
        grid-area: more-article1;
    }
    #more-article2 {
        grid-area: more-article2;
    }
    #more-article3 {
        grid-area: more-article3;
    }
    #more-article4 {
        grid-area: more-article4;
    }
    #more-article5 {
        grid-area: more-article5;
    }
    #more-article6 {
        grid-area: more-article6;
    }
    #more-article7 {
        grid-area: more-article7;
    }
    #more-article8 {
        grid-area: more-article8;
    }
    #more-article9 {
        grid-area: more-article9;
    }
    #more-article10 {
        grid-area: more-article10;
    }
    #more-article11 {
        grid-area: more-article11;
    }
    #more-article12 {
        grid-area: more-article12;
    }
    #more-article13 {
        grid-area: more-article13;
    }
    #more-article14 {
        grid-area: more-article14;
    }
    #more-article15 {
        grid-area: more-article15;
    }
    #more-article16 {
        grid-area: more-article16;
    }

    #more-from-cbc #more-article16 {
        height: 140px;
    }

    #more-from-cbc h2 {
        margin-top: 32px;
        margin-bottom: 30px;
    }

    #more-from-cbc article {
        margin: 0px;
    }
} 

@media (min-width:910px) {
    
    #wrapper {
        max-width:1200px;
        min-height:100vh;
        margin-left: auto;
        margin-right: auto;
    }

    .news-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
        "news-article1 news-article2 news-article3 news-article4"
    }
    
    #more-articles {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
        "more-article1 more-article2 more-article3 more-article4"
        "more-article5 more-article6 more-article7 more-article8"
        "more-article9 more-article10 more-article11 more-article12"
        "more-article13 more-article14 more-article15 more-article16"
    }

    #more-from-cbc article,
    #more-from-cbc #more-article16 {
        height: 180px;
    }

    #welcome-section {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: repeat(3, 1fr) .8fr;
        grid-template-rows: minmax(30px, auto);
        grid-template-areas:
            "main-article main-article main-article aside-grid1"
            "main-article1 main-article2 main-article3 subscribe"
            "main-article4 main-article5 main-article6 subscribe"
    }

    #welcome{
        margin-bottom: 22px;
    }

    #follow {
        height: 130px;
    }
    
    #follow p {
        padding-left: 10px;
    }

    #subscribe {
        margin: 0px;
        margin-top: 150px;
        height: 250px;
    }
    
    #subscribe p {
        padding-left: 10px;
    }

    
}